.at-sort-by {
    vertical-align: middle;
}

.at-btn {
    cursor: pointer;
    color: #cecece;
}

.at-btn:hover {
    color: #000;
}

.at-sort-btn {
    float: left;
    padding-right: 4px;
}

.at-sort-btn-desc {
    padding-top: 6px;
}

.at-sort-btn-asc {
    margin-top: -3px;
}

.at-hide-btn {
    float: right;
    padding-top: 2px;
}