.at-btn {
    cursor: pointer;
    color: #cecece;
}

.at-btn:hover {
    color: #000;
}

.at-btn-pressed {
    color: #000;
}

.at-sort-btn {
    float: left;
    padding-right: 4px;
}

.at-hide-btn {
    float: right;
    padding-top: 2px;
}