<table>
    <tbody>
        {% for obj in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% if not hidden.name %}
                    {{ obj }}
                {% endif %}</td>
                <td>{% if not hidden.joined %}
                    {{ obj.joined|date:"Y-m-d"|default:"Founder" }}
                {% endif %}</td>
                <td>
                    <a class="btn btn-default" href="">Modify</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No rows</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="paging">
            <td colspan="4">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="#" data-page="{{ page_obj.previous_page_number }}">← Prev</a>
                    </li>
                    <li>
                        <a href="#" data-page="{{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                    {% else %}
                    <li class="disabled"><a href="#">← Prev</a></li>
                    {% endif %}
                    <li class="active"><a href="#">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                    <li>
                        <a href="#" data-page="{{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li>
                        <a href="#" data-page="{{ page_obj.next_page_number }}">Next →</a>
                    </li>
                    {% else %}
                    <li class="disabled"><a href="#">Next →</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    </tfoot>
</table>